body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: lightblue;
    text-align: center;
}

.homePageTitle {
    color: red;
}

.cardBlock {
    margin-left: auto;
    margin-right: auto;
}

button {
    color: red;
    width: 150px;
    background-color:lightgreen;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: bold;
    border-radius: 5px;
    margin-bottom: 4px;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
    width: auto;
    height: auto;
    padding-left: 10px;
    padding-right: 10px;
  }

  .divider {
    height:auto;
    display:inline-block;

  }
  .howToPlayTitle {
      top: 50px;
      position: relative;
      text-align: left;
      border-style: dotted;
      background-color: gainsboro;
  }

  #player-el {
      margin-left: auto;
      font: bold;
      text-align: left;
      color: darkgreen;
      border-style:dashed;
      border-color: rgb(250, 50, 0);
      border-width: thin;
      padding-top: 10px;
      padding-bottom: 10px;
  }

  #robot-el {
      margin-right: auto;
      font: bold;
      text-align: right;
      color: rgb(133, 5, 133);
      border-style:dashed;
      border-color: limegreen;
      border-width: thin;
      padding-top: 10px;
      padding-bottom: 10px;
  }


