body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: lightblue;
    text-align: center;
}

.homePageTitle {
    color: red;
}

.cardBlock {
    margin-left: auto;
    margin-right: auto;
}

button {
    color: red;
    width: 150px;
    background-color:lightgreen;
    padding-top: 10px;
    padding-bottom: 10px;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
    width: auto;
    min-width: 400px;
    height: auto;
    padding-left: 10px;
    padding-right: 10px;
  }